# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr
*.local

# Logs & temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & IDE
.vercel
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
